@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './_colors';

.main {
    display: flex;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: $purple;
}

.content-pages {
    padding: 15px;
    min-height: 700px;
    background-color: #EBEBEB;
    
    .title-pages {
        p {
            font-size: 25px;
        }
    }
}
